{{> head }}
{{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1> IMAGEN X </h1>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore labore dolorum doloribus voluptatem tempora velit neque nostrum fugiat incidunt optio, adipisci animi corrupti maiores voluptatibus, fuga dicta accusamus porro. Debitis?
            </p>
        </div>

        <div class="col-4">
            <img src="assets/img/p2.jpg" class="img-thumbnail">
        </div>
    </div>

{{> footer }}